@model IEnumerable<SocialMediaApplication.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h3>
    Username
</h3>

<table class="table">
    <tr>
        <th>
            <p>
                @Html.ActionLink("See Your Profile", "Profile")
            </p>
        </th>
        <th>
            <p>
                @Html.ActionLink("Create Post", "Create")
            </p>
        </th>
        <th>
            <p>
                @Html.ActionLink("Friend Requests", "Requests")
            </p>
        </th>
        <th>
            <p>
                @Html.ActionLink("Messages", "Messages")
            </p>
        </th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            <form method="get" action="/Home/Search">
                <label> Search: </label> <input type="text" name="name" /> <input type="submit" name="search" value="Search" class="btn btn-default" />
            </form>
        </th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture.path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th>
            <p>Likes</p>
        </th>
        <th>
            <p>Comments</p>
        </th>
        <th>
            <p>Send a friend/follow request</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Picture.path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.profile_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.profile_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.profile_id })
            </td>
        </tr>
    }
</table>
